.s5_is_slide{
  float: left; 
  position: absolute; 
  z-index:0;
  overflow: hidden;
  left:0; 
  bottom:0;  
  background:#000000;
  visibility: visible; 
  margin:0px !important;
  padding:0px !important;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;}

.s5_is { 
  overflow: hidden; 
  position: relative;
  padding:0;
  cursor:pointer;}

.s5_is_display {
  position: absolute; 
  top: 0;
  z-index:1;
  font-size:1em;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
  color:#CCCCCC; }

.s5_is_display h3 {
  white-space:nowrap;
  padding-top:15px;
  padding-bottom:15px;
  font-size:1.1em;
  color:#FFFFFF;}

.s5_is img {
  display:block;}

@media screen and (max-width: 970px){
	.s5_is_display h3 {
	  white-space:normal;}
}


/*  CSS3 Info Slide Version  */

.s5_is_css_1 .s5_is_css_hidden, .s5_is_css_1:hover img, .s5_is_css_1 img, .s5_is_css .s5_is_slide_css, .s5_is_css_2 img, .s5_is_css_2 .s5_is_slide_css , .s5_is_css_3 .s5_is_slide_css, .s5_is_css_4 .s5_is_slide_css, .s5_is_css_5 .s5_is_slide_css, .s5_is_css_6 .s5_is_slide_css, .s5_is_css_7 .s5_is_slide_css, .s5_is_css_7 .s5_is_slide_7_css, .s5_is_css_8 .s5_is_slide_css {
	-webkit-transition:  all 300ms ease-in;
	-moz-transition:  all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition:  all 300ms ease-in;	}	
	
.s5_is_css img, .s5_is_css_hidden, .s5_is_css_1 img, .s5_is_css_2 img, .s5_is_css_3 img, .s5_is_css_4 img, .s5_is_css_5 img, .s5_is_css_6 img, .s5_is_css_7 img, .s5_is_css_8 img {	
	display:block;}	
	
/* Default */
	
.s5_is_css .s5_is_slide_css {
	background:#000000;
	-moz-opacity: .85;
	-khtml-opacity: .85;
	filter:alpha(opacity=85);
	opacity:.85;
	transform: translateY(-24%);
	-ms-transform:translateY(-24%); /* IE 9 */
	-webkit-transform:translateY(-24%); /* Safarai Chrome */
	height:100%;
	color: #CCCCCC;left: 0;width:100%;margin-left: 0;margin-top: 0;position: absolute;}

.s5_is_css:hover .s5_is_slide_css {		
	transform: translateY(-100%);
	-ms-transform:translateY(-100%); /* IE 9 */
	-webkit-transform:translateY(-100%); /* Safarai Chrome */}	
	
.s5_is_css {
	position:relative;overflow:hidden;}
	
.s5_is_css h1, .s5_is_css h2, .s5_is_css h3, .s5_is_css h4, .s5_is_css h5 {
	font-size:100%;
	padding-bottom: 3%;padding-left: 4%;padding-right: 4%;padding-top: 3%;color:#ffffff;}
	
.s5_is_css .s5_is_css_hidden {
	background:none;
	line-height: 22px;
	padding:4%;
	padding-top:0%;
	overflow:hidden;
	font-size:.9em;}	
	
@media screen and (max-width: 970px){
	.s5_is_css .s5_is_slide_css, .s5_is_css:hover .s5_is_slide_css  {
	transform:none;
	-ms-transform:none;
	-webkit-transform:none;
	position:relative;}
}

/* Version 1 */

.s5_is_css_1 .s5_is_slide_css {
	bottom: 0;color: #FFFFFF;left: 0;width:100%;margin-left: 0;margin-top: 0;position: absolute;}

.s5_is_css_1 {
	position:relative;overflow:hidden;}
	
.s5_is_css_1 h1, .s5_is_css_1 h2, .s5_is_css_1 h3, .s5_is_css_1 h4, .s5_is_css_1 h5 {
	bottom:0;color:#ffffff;padding-left:6%;padding-bottom:6%;padding-right:6%;}

.s5_is_css_1:hover .s5_is_css_hidden {
	height:auto;
	background:#000000;
	padding:6%;}	
	
.s5_is_css_1 .s5_is_css_hidden {
	display:block;
	background:none;
	line-height: 22px;
	padding-left:6%;
	padding-right:6%;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size:0.9em;
	height:0px;}

	
@media screen and (max-width: 970px){
	.s5_is_css_1 .s5_is_slide_css, .s5_is_css_1:hover .s5_is_slide_css  {
		background:#262626;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		position:relative;}
	
	.s5_is_css_1 h1, .s5_is_css_1 h2, .s5_is_css_1 h3, .s5_is_css_1 h4, .s5_is_css_1 h5 {
		font-size:100%;padding-bottom: 3%;padding-left: 4%;padding-right: 4%;padding-top: 3%;color:#ffffff;}
		
	.s5_is_css_1 .s5_is_css_hidden, .s5_is_css_1:hover .s5_is_css_hidden {
		height:auto;
		background:#262626;
		padding:4%;
		padding-top:0%;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;}
}

	
/* Version 2 */

.s5_is_css_2 .s5_is_slide_css {	
	background:#000000;
	-moz-opacity: .85;
	-khtml-opacity: .85;
	filter:alpha(opacity=85);
	opacity:.85;
	transform: translateY(-23%);
	-ms-transform:translateY(-23%); /* IE 9 */
	-webkit-transform:translateY(-23%); /* Safarai Chrome */
	height:100%;
	color: #FFFFFF;left: 0;width:100%;margin-left: 0;margin-top: 0;position: absolute;}

.s5_is_css_2:hover .s5_is_slide_css, .s5_is_css_2:hover img {	
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter:alpha(opacity=100);
	opacity:1;
	transform: translateY(-100%);
	-ms-transform:translateY(-100%); /* IE 9 */
	-webkit-transform:translateY(-100%); /* Safarai Chrome */}	
	
.s5_is_css_2 {
	position:relative;overflow:hidden;}
	
.s5_is_css_2 h1, .s5_is_css_2 h2, .s5_is_css_2 h3, .s5_is_css_2 h4, .s5_is_css_2 h5 {
	font-size:100%;
	padding-bottom: 0%;padding-left: 4%;padding-right: 4%;padding-top: 3%;color:#ffffff;}
	
.s5_is_css_2 .s5_is_css_hidden {
	display:block;
	background:none;
	line-height: 22px;
	padding:3% 4% 4%;
	font-size:0.9em;
	height:0px;}

@media screen and (max-width: 970px){
	.s5_is_css_2 .s5_is_slide_css, .s5_is_css_2:hover .s5_is_slide_css  {
		background:#000000;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		position:relative;}
	
	.s5_is_css_2:hover .s5_is_slide_css, .s5_is_css_2:hover img {	
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;}	
	
	.s5_is_css_2 h1, .s5_is_css_2 h2, .s5_is_css_2 h3, .s5_is_css_2 h4, .s5_is_css_2 h5 {
		font-size:100%;padding-bottom: 3%;padding-left: 4%;padding-right: 4%;padding-top: 3%;color:#ffffff;}
		
	.s5_is_css_2 .s5_is_css_hidden, .s5_is_css_2:hover .s5_is_css_hidden {
		height:auto;
		background:#000000;
		padding:4%;
		padding-top:0%;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;	}
}




/* Version 3 */

.s5_is_css_3 .s5_is_slide_css {	
	background:#000000;
	right:-55%;
	top:0;
	height:100%;
	width:55%;
	color: #FFFFFF;
	margin-left: 0;
	margin-top: 0;
	position: absolute;}
	
.s5_is_css_3 img {
	float:left;
	height:100% !important;
	width:45% !important;}

.s5_is_css_3:hover .s5_is_slide_css {	
	right:0;}	
	
.s5_is_css_3 {
	line-height:22px;
	position:relative;
	background:#191919;
	overflow:hidden;}
	
.s5_is_css_3 h1, .s5_is_css_3 h2, .s5_is_css_3 h3, .s5_is_css_3 h4, .s5_is_css_3 h5 {
	font-size:100%;
	padding-bottom: 0%;padding-left: 6%;padding-right: 6%;padding-top: 4%;color:#ffffff;}
	
.s5_is_css_3 .s5_is_css_hidden, .s5_is_css_3 .s5_is_css_initial_text {
	display:block;
	background:none;
	padding-bottom: 0%;padding-left: 6%;padding-right: 6%;padding-top: 4%;
	font-size:0.9em;}
	
.s5_is_css_3 .s5_is_css_initial {
	color: #FFFFFF;
	padding-bottom:4%;
	float:left;
	width:55%;}
	
	

@media screen and (max-width: 970px){
	.s5_is_css_3 img,.s5_is_css_3 .s5_is_css_initial, .s5_is_css_3 .s5_is_slide_css {
		float:none;
		width:100% !important;
		height:auto !important;	}
	
	.s5_is_css_3 .s5_is_slide_css {
		position:relative;
		right:0;
		padding-bottom:4%;
		height:auto;}
	
	.s5_is_css_3 h1, .s5_is_css_3 h2, .s5_is_css_3 h3, .s5_is_css_3 h4, .s5_is_css_3 h5 {
		padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 3%;}
	
	.s5_is_css_3 .s5_is_css_hidden, .s5_is_css_3 .s5_is_css_initial_text {
		padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 3%;}
	
	.s5_is_css_3 .s5_is_slide_css, .s5_is_css_3 .s5_is_css_initial {
		padding-bottom:3%;}
}

	
	
	
	
/* Version 4 */

.s5_is_css_4 .s5_is_slide_css {	
	background:#000000;
	right:-100%;
	top:0;
	height:100%;
	width:100%;
	color: #FFFFFF;
	margin-left: 0;
	margin-top: 0;
	position: absolute;}
	
.s5_is_css_4 img {
	float:left;
	height:100% !important;
	width:45% !important;}

.s5_is_css_4:hover .s5_is_slide_css {	
	right:0;}	
	
.s5_is_css_4 {
	line-height:22px;
	position:relative;
	background:#191919;
	overflow:hidden;}
	
.s5_is_css_4 .s5_is_css_initial h1, .s5_is_css_4 .s5_is_css_initial h2, .s5_is_css_4 .s5_is_css_initial h3, .s5_is_css_4 .s5_is_css_initial h4, .s5_is_css_4 .s5_is_css_initial h5 {
	font-size:100%;
	padding-bottom: 0%;padding-left: 6%;padding-right: 6%;padding-top: 4%;color:#ffffff;}
	
.s5_is_css_4 .s5_is_slide_css h1, .s5_is_css_4 .s5_is_slide_css h2, .s5_is_css_4 .s5_is_slide_css h3, .s5_is_css_4 .s5_is_slide_css h4, .s5_is_css_4 .s5_is_slide_css h5 {
	font-size:100%;
	padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 2%;}
	
.s5_is_css_4 .s5_is_css_initial_text {
	display:block;
	background:none;
	padding-bottom: 0%;padding-left: 6%;padding-right: 6%;padding-top: 4%;
	font-size:0.9em;}
	
.s5_is_css_4 .s5_is_css_hidden {
	display:block;
	background:none;
	padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 2%;
	font-size:0.85em;}
	
.s5_is_css_4 .s5_is_css_initial {
	color: #FFFFFF;
	padding-bottom:4%;
	float:left;
	width:55%;}

@media screen and (max-width: 970px){
	.s5_is_css_4 img,.s5_is_css_4 .s5_is_css_initial, .s5_is_css_4 .s5_is_slide_css {
	float:none;
	width:100% !important;
	height:auto !important;	}
	
	.s5_is_css_4 .s5_is_slide_css {
	position:relative;
	right:0;
	padding-bottom:4%;
	height:auto;	}
	
	.s5_is_css_4 .s5_is_css_initial h1, .s5_is_css_4 .s5_is_css_initial h2, .s5_is_css_4 .s5_is_css_initial h3, .s5_is_css_4 .s5_is_css_initial h4, .s5_is_css_4 .s5_is_css_initial h5 {
	padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 3%;}
	
	.s5_is_css_4 .s5_is_slide_css h1, .s5_is_css_4 .s5_is_slide_css h2, .s5_is_css_4 .s5_is_slide_css h3, .s5_is_css_4 .s5_is_slide_css h4, .s5_is_css_4 .s5_is_slide_css h5 {
	padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 3%;}
	
	.s5_is_css_4 .s5_is_css_initial_text {
	padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 3%;}
		
	.s5_is_css_4 .s5_is_css_hidden {
	padding-bottom: 0%;padding-left: 3%;padding-right: 3%;padding-top: 3%;}
		
	.s5_is_css_4 .s5_is_css_initial {
	padding-bottom:3%;}
	
	.s5_is_css_4 .s5_is_slide_css {	
	padding-bottom:3%;}
}


/* Version 5 */

.s5_is_css_5 .s5_is_slide_css {	
	background-color:#000000;
	-moz-opacity: .15;
	-khtml-opacity: .15;
	filter:alpha(opacity=15);
	opacity:.15;
	transform: translateY(-102%);
	-ms-transform:translateY(-102%); /* IE 9 */
	-webkit-transform:translateY(-102%); /* Safarai Chrome */
	height:100%;
	color: #FFFFFF;left: 0;width:100%;margin-left: 0;margin-top: 0;position: absolute;}

.s5_is_css_5:hover .s5_is_slide_css, .s5_is_css_5:hover img {	
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter:alpha(opacity=100);
	opacity:1;}	
	
.s5_is_css_5 {
	position:relative;overflow:hidden;width:100%;height:100%;}
	
.s5_is_css_5 h1, .s5_is_css_5 h2, .s5_is_css_5 h3, .s5_is_css_5 h4, .s5_is_css_5 h5 {
	font-size: 100%;
	background: none repeat scroll 0 0 #000000;
    display: table;
    font-weight: normal !important;
    left: 0 !important;
    line-height: 48px !important;
    margin: 11px auto !important;
    padding: 1px 21px !important;
    position: relative;
	color:#ffffff;}
	
	.s5_is_css_wrap_5 {
		display: table !important;
		left: 0 !important;
		margin-left: -20px;
		margin-right: auto !important;
		padding: 20px !important;
		right: 0 !important;
		top: 22% !important;
		width:inherit !important;
		z-index: 1;
		position:absolute;}
		
	.s5_is_css_wrap_5 a {
		color:#ffffff;}
	
.s5_is_css_5 .s5_is_css_hidden {
	display:block;
	text-align: center;
	background:none;
	color:#ffffff;
	line-height: 6px;
	padding:3% 4% 4%;
	font-size:1.8em;
	left:0;
	right:0;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	z-index:1;}

@media screen and (max-width: 970px){
	.s5_is_css_5 .s5_is_slide_css, .s5_is_css_5:hover .s5_is_slide_css  {
		background:#000000;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		position:relative;}
		
	.s5_is_css_5:hover .s5_is_slide_css, .s5_is_css_5:hover img {	
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;}	
	
	.s5_is_css_5 h1, .s5_is_css_5 h2, .s5_is_css_5 h3, .s5_is_css_5 h4, .s5_is_css_5 h5 {
		margin-top:0px !important;
		font-size:100%;padding-bottom: 3%;padding-left: 4%;padding-right: 4%;padding-top: 3%;color:#ffffff;line-height:30px !important;}
		
	.s5_is_css_wrap_5 {
		background:#000000;
		padding-bottom:1%;
		position:relative;}
	
	.s5_is_css_5 .s5_is_css_hidden, .s5_is_css_5:hover .s5_is_css_hidden {
		height:auto;
		position:relative;
		background:#000000;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;}
}




/* Version 6 */

.s5_is_css_6 .s5_is_slide_css {	
	background-color:#000000;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter:alpha(opacity=100);
	opacity:1;
	transform: translateY(-102%);
	-ms-transform:translateY(-102%); /* IE 9 */
	-webkit-transform:translateY(-102%); /* Safarai Chrome */
	height:100%;
	color: #FFFFFF;left: 0;width:100%;margin-left: 0;margin-top: 0;position: absolute;}

.s5_is_css_6:hover .s5_is_slide_css {	
	-moz-opacity: .15;
	-khtml-opacity: .15;
	filter:alpha(opacity=15);
	opacity:.15;}	
	
.s5_is_css_6 {
	position:relative;overflow:hidden;width:100%;height:100%;}
	
.s5_is_css_6 h1, .s5_is_css_6 h2, .s5_is_css_6 h3, .s5_is_css_6 h4, .s5_is_css_6 h5 {
	font-size: 100%;
	background: none;
	border-bottom:1px solid #ffffff;
    display: table;
    font-weight: normal !important;
    left: 0 !important;
    line-height: 48px !important;
    margin: 11px auto !important;
    padding: 1px 0px !important;
    position: relative;
	color:#ffffff;}
	
	.s5_is_css_wrap_6 {
		display: table !important;
		left: 0 !important;
		margin-left: -20px;
		margin-right: auto !important;
		padding: 20px !important;
		right: 0 !important;
		top: 20% !important;
		width:inherit !important;
		z-index: 1;
		position:absolute;}
		
	.s5_is_css_wrap_6 a {
		color:#ffffff;}	
	
.s5_is_css_6 .s5_is_css_hidden {
	display:block;
	text-align: center;
	background:none;
	color:#ffffff;
	line-height: 6px;
	padding:3% 4% 4%;
	font-size:1.8em;
	left:0;
	right:0;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	z-index:1;}

@media screen and (max-width: 970px){

	.s5_is_css_6 h1, .s5_is_css_6 h2, .s5_is_css_6 h3, .s5_is_css_6 h4, .s5_is_css_6 h5 {
		border:none;}
	
	.s5_is_css_6 .s5_is_slide_css, .s5_is_css_6:hover .s5_is_slide_css  {
		background:#000000;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		position:relative;}
		
	.s5_is_css_6:hover .s5_is_slide_css, .s5_is_css_6:hover img {	
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;}	
	
	.s5_is_css_6 h1, .s5_is_css_6 h2, .s5_is_css_6 h3, .s5_is_css_6 h4, .s5_is_css_6 h5 {
		margin-top:0px !important;
		font-size:100%;padding-bottom: 3%;padding-left: 4%;padding-right: 4%;padding-top: 3%;color:#ffffff;line-height:30px !important;}
		
	.s5_is_css_wrap_6 {
		background:#000000;
		padding-bottom:1%;
		position:relative;}
	
	.s5_is_css_6 .s5_is_css_hidden, .s5_is_css_6:hover .s5_is_css_hidden {
		height:auto;
		position:relative;
		background:#000000;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;}
}



/* Version 7 */

.s5_is_css_7 .s5_is_slide_css {	
	background-color:#ffffff;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	filter:alpha(opacity=100);
	opacity:0;
	transform: translateY(-102%);
	-ms-transform:translateY(-102%); /* IE 9 */
	-webkit-transform:translateY(-102%); /* Safarai Chrome */
	height:100%;
	color: #FFFFFF;left: 0;width:100%;margin-left: 0;margin-top: 0;position: absolute;}

.s5_is_css_7:hover .s5_is_slide_css {	
	-moz-opacity: .8;
	-khtml-opacity: .8;
	filter:alpha(opacity=80);
	opacity:.8;}	
	
	.s5_is_css_7 .s5_is_css_wrap_7 {
		-moz-opacity: 0;
		-khtml-opacity: 0;
		filter:alpha(opacity=0);
		opacity:0;}
	
	.s5_is_css_7:hover .s5_is_css_wrap_7 {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		filter:alpha(opacity=100);
		opacity:1;}
	
	
.s5_is_css_7 {
	position:relative;overflow:hidden;width:100%;height:100%;}
	
.s5_is_css_7 h1, .s5_is_css_7 h2, .s5_is_css_7 h3, .s5_is_css_7 h4, .s5_is_css_7 h5 {
	font-size: 110%;
    font-weight: normal !important;
    left: 0 !important;
    line-height: 19px !important;
    margin-bottom: 0px;
    position: relative;
	color:#000000;}
	
	.s5_is_css_wrap_7 {
		display: table !important;
		left: 0 !important;
		margin-left: -20px;
		margin-right: auto !important;
		padding: 20px !important;
		right: 0 !important;
		top: 22% !important;
		width:inherit !important;
		z-index: 1;
		position:absolute;}
		
	.s5_is_css_wrap_7 a {
		font-size: 0.7em;
		color:#ffffff !important;}
	
.s5_is_css_7 .s5_is_css_hidden {
	display:table-cell;
	text-align: center;
	background:none;
	color:#ffffff;
	line-height: 6px;
	padding:9% 4% 4%;
	font-size:1.1em;
	left:0;
	right:0;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	z-index:1;}
	
	.s5_is_css_7 a:hover {
		text-decoration:none;}
		
		
.s5_is_css_7 .s5_is_slide_7_css {
    background: none repeat scroll 0 0 #ffffff;
    color: #cccccc;
    height: 100%;
    left: 0;
	line-height: 19px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;
}		

.s5_is_css_wrap_7 .s5_is_css_hidden a.darkcolor {
	background:#333333 !important;}

.s5_is_css_7 .s5_is_slide_7_css {
	transform: translateY(-0%);
	-ms-transform:translateY(-0%); /* IE 9 */
	-webkit-transform:translateY(-0%); /* Safarai Chrome */}


.s5_is_css_7:hover .s5_is_slide_7_css {
	transform: translateY(-35%);
	-ms-transform:translateY(-35%); /* IE 9 */
	-webkit-transform:translateY(-35%); /* Safarai Chrome */}

		
		
.s5_is_css_7 .s5_is_slide_padding {
	font-size:.8em;
	color:#5a5a5a;
	padding:24px;}
	
	
@media screen and (max-width: 1480px){	

	.s5_is_css_7 .s5_is_slide_padding {
		font-size: 0.7em !important;
		line-height: 11px;
		padding: 16px;	}	
}	


@media screen and (max-width: 1280px){	

	.s5_is_css_7 .button { font-size: 0.6em; }

	.s5_is_css_7 .s5_is_slide_padding {
		font-size: 0.7em !important;
		line-height: 11px;
		padding: 13px;	}	
		
		
}	


@media screen and (max-width: 1000px){

	.s5_is_css_wrap_7 .s5_is_css_hidden a {
		display:block;}	
	
	.s5_is_css_wrap_7 .s5_is_css_hidden a {
		margin-bottom: 9px;	}
		
}		


	

@media screen and (max-width: 970px){

	.s5_is_css_7 .s5_is_slide_css, .s5_is_css_7:hover .s5_is_slide_css  {
		background:#000000;
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;
		position:relative;}
		
	.s5_is_css_7:hover .s5_is_slide_css, .s5_is_css_7:hover img {	
		transform:none;
		-ms-transform:none;
		-webkit-transform:none;}	
	
	.s5_is_css_7 h1, .s5_is_css_7 h2, .s5_is_css_7 h3, .s5_is_css_7 h4, .s5_is_css_7 h5 {
		margin-top:0px !important;
		font-size:100%;line-height:30px !important;}
		
	.s5_is_css_wrap_5 {
		background:#000000;
		padding-bottom:1%;
		position:relative;}
	
	.s5_is_css_7 .s5_is_css_hidden, .s5_is_css_7:hover .s5_is_css_hidden {
		height:auto;
		position:relative;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;}
		
	.s5_is_css_7 .s5_is_slide_7_css {
		transform:none !important;
		-ms-transform:none !important;
		-webkit-transform:none !important;
		position:relative;}
		

	.s5_is_css_wrap_7 {
        top: 11% !important;}
		

	
	.s5_is_css_7 .s5_is_slide_padding {
		line-height: 17px;
		padding: 13px 26px 21px !important;}
		

		
}


/* Version 8 */


.s5_is_css_8 {
	position:relative;overflow:hidden;}
	
.s5_is_css_8 h1, .s5_is_css_8 h2, .s5_is_css_8 h3, .s5_is_css_8 h4, .s5_is_css_8 h5 {
	color:#ffffff;
	padding-bottom:6%;}
	
.s5_is_css_8 .s5_is_slide_text {
	display:block;
	-webkit-transition:  all 300ms ease-in;
	-moz-transition:  all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition:  all 300ms ease-in;
	transition-delay:300ms;
	-webkit-transition-delay:300ms; 
	-moz-transition-delay:300ms; 
	-o-transition-delay:300ms; 
	margin-top:10px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;}
	
.s5_is_css_8:hover .s5_is_slide_text {
	margin-top:0px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;}
	
.s5_is_css_8 h1, .s5_is_css_8 h2, .s5_is_css_8 h3, .s5_is_css_8 h4, .s5_is_css_8 h5 {
	-webkit-transition:  all 300ms ease-in;
	-moz-transition:  all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition:  all 300ms ease-in;
	transition-delay:200ms;
	-webkit-transition-delay:200ms; 
	-moz-transition-delay:200ms; 
	-o-transition-delay:200ms; 
	margin-top:10px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;}
	
.s5_is_css_8:hover h1, .s5_is_css_8:hover h2, .s5_is_css_8:hover h3, .s5_is_css_8:hover h4, .s5_is_css_8:hover h5 {
	margin-top:0px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;}

.s5_is_css_8:hover .s5_is_slide_css {
	top:0;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1); 
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;}	
	
.s5_is_css_8 .s5_is_slide_css {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5); 
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	top:-8%;
	color: #FFFFFF;
	left: 0;
	margin:0px;
	position: absolute;
	display:block;
	background: rgba(0, 0, 0, 0.75);
	padding:10%;
	height:80%;
	width:80%;
	line-height: 22px;
	font-size:0.9em;}

	
@media screen and (max-width: 970px){
	.s5_is_css_8 .s5_is_slide_css, .s5_is_css_8 h1, .s5_is_css_8 h2, .s5_is_css_8 h3, .s5_is_css_8 h4, .s5_is_css_8 h5, .s5_is_css_8 .s5_is_slide_text  {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1); 
	-ms-transform: scale(1);
	-o-transform: scale(1);
	margin-top:0px;
	-webkit-opacity: 1 !important;
	-moz-opacity: 1 !important;
	-khtml-opacity: 1 !important;
	opacity: 1 !important;
	transform:none;
	-ms-transform:none;
	-webkit-transform:none;
	top:0 !important;
	position:relative !important;}
	.s5_is_css_8 .s5_is_slide_css {
	background: rgba(0, 0, 0, 1);
	}
}





.s5_is_css_9 {
    overflow: hidden;
    position: relative;
}
.s5_is_css_9 h1, .s5_is_css_9 h2, .s5_is_css_9 h3, .s5_is_css_9 h4, .s5_is_css_9 h5 {
    color: #ffffff;
    padding-bottom: 0%;
}

.s5_is_css_9 .dark h1, .s5_is_css_9 .dark h2, .s5_is_css_9 .dark h3, .s5_is_css_9 .dark h4, .s5_is_css_9 .dark h5 {
	color: #000000;}

.s5_is_css_9 .s5_is_slide_text {
    display: block;
    margin-top: 10px;
    transition: all 300ms ease-in 300ms;
}

.s5_is_css_9 h1, .s5_is_css_9 h2, .s5_is_css_9 h3, .s5_is_css_9 h4, .s5_is_css_9 h5 {
    margin-top: 10px;
    transition: all 300ms ease-in 200ms;
}

.s5_is_css_9 .s5_is_slide_css {
    color: #ffffff;
    display: block;
    font-size: 0.9em;
	overflow: hidden;
    height: 100%;
    outline: 1px solid rgba(255, 255, 255, .3);
    outline-offset: -19px;
    padding: 0;
    position: absolute;
	text-align: center;
    top: 0;
    width: 100%;}
	
	.s5_is_css_9 .s5_is_slide_css.dark {
		color:#000000;
		outline: 1px solid rgba(0, 0, 0, .3);}
		
	.s5_is_css_9 .s5_is_slide_css a.btn {
		background:#ffffff;}
		
	.s5_is_css_9.s5_is_slide_css a.btn	{
		margin-top: 7%;}	
		
	
.s5_is_css_9 .s5_is_slide_css:hover {
    outline-offset: 0px;}
	
	
.s5_is_css_9 .s5_is_slide_css_inner	{

	top: 38%;
    position: relative;}
	
	
@media screen and (max-width: 970px) {

.s5_is_css_9  img {
    width: 100%;}
}


