﻿*  {	margin: 0;	padding: 0; }

body  {
	color:#5F5F5F;
	background:#FFFFFF;
	font-size:0.8em;
	line-height:184%;}

body.contentpane, body.mceContentBody {	background:#FFFFFF;}

a  {	text-decoration: none;}
a:hover  { text-decoration:underline; }
a:active { outline: none;}
a:focus {-moz-outline-style: none;}	

h1, h2, h3, h4, h5, h6 {
font-weight:normal;
}

fieldset a  {font-weight: bold; }

h1 {	font-size:1.9em;line-height:130%;color:#000000;}

h2 {	font-size:1.7em;line-height:130%;color:#000000;}

#s5_component_wrap h2 a {color:#000000 !important;}

#s5_component_wrap_inner h2, #s5_component_wrap_inner h1 {
font-size:1.7em;
}

#s5_component_wrap h2 {
margin-bottom:10px;
}

h3 {font-size:1.2em;line-height:130%;color:#000000;}

.s5_responsive_mobile_drop_down_inner .s5_mod_h3 {
font-size:13pt !important;
margin:0px !important;
padding:0px !important;
border:none !important;
background:none !important;
}

.s5_responsive_mobile_drop_down_inner .s5_mod_h3_outer {
background:none !important;
padding:0px !important;
}

#s5_component_wrap_inner h3 {
margin-bottom:18px;
font-size:1.4em;
}

#s5_component_wrap_inner .s5_is_display h3 {
font-size:1em;
}

#s5_component_wrap_inner .s5_is_display h3 {
margin-bottom:0px;
}

h4 {	font-size:1.1em;line-height:130%;}

h5 {	font-size:0.9em;line-height:130%;}


/* IMAGES
----------------------------------------------------------- */

a img, fieldset, img  {	border: none; }

.module_round_box_outer img {
line-height:100%;
display:inline-block;
}

.mosimage  {
	padding: 0;
	border:1px solid #333333;
	margin:6px;	}

.mosimage img  {
	padding: 0;
	margin: 0!important; }

.mosimage_caption {
	background:#333333;
	border-top:1px solid #333333;
	color:#FFFFFF;
	font-size:8pt;
	margin-top:2px;
	padding:1px 2px;}


/* FORM
----------------------------------------------------------- */
fieldset  {
	margin-bottom:14px;
}
	
.s5_responsive_mobile_drop_down_inner fieldset {
margin:0px;
border:none;
}

#form-login fieldset {
	border:none;
	padding-top:0px;}

#form-login p {
	padding-top:0px;}

#login br {
	display:none;}

#login .button {
	margin-top:8px;
	margin-bottom:8px;}

#login ul, #form-login ul {
	padding-top:8px;
	padding-bottom:8px;}

#modlgn-username, #modlgn-passwd, #username_vmlogin, #password_vmlogin {
    width:92%;}

.inputbox, .registration input, .login input, .contact-form input, #jform_contact_message, #mod-search-searchword, input, textarea, button, .btn {
	border:none;
	padding: 6px 10px 6px 10px;
	font-size: 1.0em;
	background:#F8F7F7;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	}
	
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
	


.inputbox:hover, .registration input:hover, .login input:hover, .contact-form input:hover, #jform_contact_message:hover, #mod-search-searchword:hover, input:hover, textarea:hover, button:hover, .btn:hover {
	background:#F0EFEF;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}	
	
.btn, .dropdown-toggle, .btn:hover, .dropdown-toggle:hover {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}

.dropdown-toggle:hover {
background:#E6E6E6;
}

	
select.inputbox {
behavior:none;}

label.invalid {
	color:#FF0000;}

label.invalid {
	color:red;}

.invalid {
	border-color:#FF0000;}

.invalid {
	border-color:red !important;}

.tool-tip {
	float: left;
	background: #CCCCCC;
	border: 1px solid #333333;
	padding: 5px;
	color:#000000;
	max-width: 200px;}

.tool-title {
	padding: 0;
	margin: 0;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	color:#000000;}

.tool-text {
	color:#000000;
	margin: 0;}

/* BUTTONS
----------------------------------------------------------- */

.button, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link, div.itemCommentsForm form input#submitCommentButton, .btn, buton {
	padding:8px;
	margin-top:14px;
	margin-bottom:0px;
	border:none;
	color:#FFFFFF;
	text-decoration: none; 
	font-size:1.1em;}

.button, .btn, buton {
	margin:0px;
	margin-top:0px;
	margin-right:8px;
	color:#ffffff;}
	
.btn {
	padding-left:12px;
	padding-right:12px;
}
	
.btn-primary, .pager a {
color:#FFFFFF !important;
}

.btn-primary:hover, .pager a:hover {
color:#FFFFFF !important;
}

#submitCommentButton {
	margin-top:14px;}

div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link {
	padding-left:10px;
	padding-right:10px;}
	
p.readmore {
padding:0px;
}

p.readmore a, .readon_highlight1, .readon_highlight2 {
color:#FFFFFF !important;
padding:6px;
padding-bottom:3px;
padding-left:14px;
padding-right:14px;
font-size:0.9em;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
cursor:pointer;
text-decoration:none !important;
}

.module_round_box_outer .readon_highlight1, .module_round_box_outer .readon_highlight2 {
padding:7px;
padding-bottom:5px;
padding-left:14px;
padding-right:14px;
}

p.readmore a:hover, .readon_highlight1:hover, .readon_highlight2:hover {
color:#FFFFFF !important;
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}

#s5_component_wrap p.readmore a {
margin-top:16px;
display:inline-block;
margin-bottom:26px;
}
	
#s5_loginreg ul {
list-style:none;
margin:0px;
}


/* FONT CONTROLS
----------------------------------------------------------- */
#fontControls {
	float:right;}

#fontControls a {
	color:#858484;}

.decreaseSize {
	font-size:10px;}

.increaseSize {
	font-size:17px;}

.resetSize {
	font-size:14px;
	margin-left:3px;
	margin-right:3px;}	
	
/* SCROLL TO TOP
----------------------------------------------------------- */

#s5_scrolltotop {
	height: 0;
	visibility:hidden;}


#s5_scrolltopvar .s5_scrolltotop  {	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	width:38px;
	height:30px;
	cursor:pointer;
	float: right;
	margin-right: 18px;
	margin-top:-95px;
	background:transparent url(../images/s5_scroll_arrow.png) no-repeat;}	
	

	
/* BODY ELEMENTS
----------------------------------------------------------- */

#s5_header_area1 {
background:#0F0D0D;
padding-top:34px;
padding-bottom:34px;
}

#s5_logo {
cursor: pointer;
float:left;
max-width:90% !important;
}

#s5_logo_module {
float: left;
max-width:90% !important;
}

#s5_loginreg, #s5_search_wrap, #s5_search_login_wrap {
float:right;
}

#s5_login, #s5_register {
margin-left:8px;
font-size:0.9em;
}

#s5_search_wrap label, #s5_search_wrap br, #s5_search_wrap button {
display:none !important;
}

#s5_search_wrap input {
height:auto;
width:214px;
margin-top:19px;
}

#s5_menu_wrap {
background:#F8F7F7;
border-top:solid 1px #EEEDED;
border-bottom:solid 1px #EEEDED;
}

#s5_menu_wrap.s5_wrap {
width:100% !important;
max-width:100% !important;
}

#s5_menu_wrap_inner2 {
border-left:solid 1px #FFFFFF;
margin-left:30px;
margin-right:30px;
}

#s5_social_bar {
float:right;
margin-top:19px;
}

.s5_facebook {
width:22px;
height:23px;
margin-left:8px;
background:url(../images/s5_facebook.jpg) no-repeat top right;
float:right;
cursor:pointer;
}

.s5_twitter {
width:22px;
height:23px;
margin-left:8px;
background:url(../images/s5_twitter.jpg) no-repeat top right;
float:right;
cursor:pointer;
}

.s5_rss {
width:22px;
height:23px;
margin-left:8px;
background:url(../images/s5_rss.jpg) no-repeat top right;
float:right;
cursor:pointer;
}

.s5_google {
width:22px;
height:23px;
margin-left:8px;
background:url(../images/s5_google.jpg) no-repeat top right;
float:right;
cursor:pointer;
}

#s5_social_bar_narrow_screen {
float:left;
}

#s5_social_clear, #s5_social_bar_narrow_screen {
display:none;
}

#s5_social_bar_narrow_screen {
margin-left:-8px;
margin-top:10px;
}

#s5_top_row1_area1, #s5_top_row2_area1, #s5_top_row3_area1, #s5_bottom_row1_area1, #s5_bottom_row2_area1, #s5_bottom_row3_area1, #s5_center_area1 {
padding-top:51px;
}

#s5_footer_area1 {
padding-top:51px;
}

#s5_footer_area1 {
padding-bottom:65px;
background:#0F0D0D;
color:#333;
text-align: center;
}
#s5_footer_area1 A: link{
 text-decoration:none;color:#FFFFFF;}

#s5_footer_menu_wrap, #s5_footer_menu_wrap a {
color:#5F5F5F !important;
}

#s5_bottom_menu_wrap li {
float:right;
margin-left:16px;
}

#s5_footer {
float:left;
}

#s5_bottom_menu_wrap {
float:right;
}

#s5_shape5_logo {
background:url(../images/shape5_logo.png) no-repeat top left;
height:25px;
width:85px;
cursor:pointer;
display:block;
margin-top:30px;
float:left;
}

#s5_header_wrap, #s5_footer_area_inner2, #s5_breadcrumb_font_wrap, #s5_component_wrap_inner {
padding-left:30px;
padding-right:30px;
}

#s5_breadcrumb_wrap .breadcrumb {
background:none;
padding:0px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}

#s5_breadcrumb_wrap {
float:left;
color:#858484;
}

#s5_breadcrumb_wrap .icon-location {
display:none;
}

#s5_breadcrumb_font_wrap {
padding-bottom:45px;
}

.well {
background:#FFFFFF;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}

#s5_drop_down_text_inner {
margin-top:-2px;
display:block;
}

/* COLUMN MENU
----------------------------------------------------------- */

.s5_module_box_1 ul.menu a {
display:block;
}

.s5_module_box_1 ul.menu ul li a:hover {
background:none;
}

.s5_module_box_1 ul.menu img {
display:none;
}

.s5_module_box_1 ul.menu a:hover {
text-decoration:underline;}

.s5_module_box_1 ul.menu ul a:hover {
text-decoration:underline;}

.s5_module_box_1 ul.menu ul a {
background:none;
border-bottom: none;
display:block;}

.s5_module_box_1 ul.menu ul ul a {
font-size:8pt;
padding:0px;
padding-left:10px;
border-bottom: none;
display:block;
font-weight:normal;}

.s5_module_box_1 ul.menu #current ul span {
font-weight:normal;}

.s5_module_box_1 ul.menu li {
padding:0px;}

.s5_module_box_1 ul.menu li ul li {
margin-left:14px;}

ul.menu .current ul a {
color:#5F5F5F !important;
}

#s5_columns_wrap ul.menu {
line-height:220%;
}

/* MODULE CLASS SUFFIXES
----------------------------------------------------------- */

.module_round_box_outer {
margin-bottom:51px;
margin-left:30px;
margin-right:30px;
}

.s5_mod_h3 {
font-size:1.5em;
margin-bottom:12px;
}

.module_round_box_outer ul li a {
color:#5F5F5F;
}

#s5_drop_down_inner .module_round_box_outer {
margin-bottom:20px;
}



.module_round_box-white, .module_round_box-white a, .module_round_box-white h3 {
color:#FFFFFF !important;
}




.module_round_box-highlight1, .module_round_box-highlight2 {
padding:16px;
}

.module_round_box-highlight1, .module_round_box-highlight1 a, .module_round_box-highlight1 h3 {
color:#FFFFFF !important;
}

.module_round_box-highlight2, .module_round_box-highlight2 a, .module_round_box-highlight2 h3 {
color:#FFFFFF !important;
}

.module_round_box-highlight1 h3, .module_round_box-highlight2 h3 { 
font-size:1.2em;
}




.module_round_box-grey {
padding:16px;
background:#F8F7F7;
}

.module_round_box-grey h3 { 
font-size:1.2em;
}



.module_round_box-dark {
padding:16px;
background:#333333;
}

.module_round_box-dark, .module_round_box-dark a, .module_round_box-dark h3 {
color:#FFFFFF !important;
}

.module_round_box-dark h3 { 
font-size:1.2em;
}



.module_round_box-inset {
padding:16px;
border:solid 1px #E9E9E9;
-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05) inset !important;
-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05) inset !important;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05) inset !important;
}

.module_round_box-inset h3 { 
font-size:1.2em;
}
.face {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 190px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.face ul {
		list-style: none;
	}
 
	.face ul li a {
		display: inline-block;
		background-image: url("/templates/design_control/images/social/facebook.png");
		padding: 20px 20px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	
 
	.face ul li a:hover {
		background-image: url("/templates/design_control/images/social/facebook2.png"); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 20px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */

}
.telefono{
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 250px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.telefono ul {
		list-style: none;
	}
 
	.telefono ul li a {
		display: inline-block;
		background-image: url("/templates/design_control/images/social/phone.png");	
		padding: 20px 20px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 	
	
 
	.telefono ul li a:hover {
		background-image: url("/templates/design_control/images/social/telefono.png"); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 20px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}


	.correo {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 310px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.correo ul {
		list-style: none;
	}
 
	.correo ul li a {
		display: inline-block;
		background-image: url("/templates/design_control/images/social/mail.png");	
		padding: 20px 20px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 	
	
 
	.correo ul li a:hover {
		background-image: url("/templates/design_control/images/social/mail2.png"); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 20px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

