<div class="row">

    <div class="page-header">
        <h2>Clientes</h2>
    </div>
        
    <ol class="breadcrumb">
        <li><a href="#">Clientes</a></li>
        <li class="active" compile="title"></li>
    </ol>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{formData.idExt}}</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="submit()">
                <div class="form-group form-group-no-margin">
                    <div class="">
                        <button ng-click="showList()" type="button" class="btn pull-right">Cancelar</button>
                        <input type="submit" class="btn btn-default pull-right" value="Guardar">
                    </div>
                </div>
                <input type="hidden" ng-model="formData.id_customer" id="i-id-customer" value="{{formData.id_customer}}">
                <div class="form-group form-group-no-margin">
                    <label for="i-name" class="col-sm-2 control-label">Nombre cliente</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.name" type="text" class="form-control" id="i-name" placeholder="Nombre cliente">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-cif" class="col-sm-2 control-label">Cif</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.cif" type="text" class="form-control" id="i-cif" placeholder="Cif">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-address" class="col-sm-2 control-label">Dirección</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.address" type="text" class="form-control" id="i-address" placeholder="Dirección">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-city" class="col-sm-2 control-label">Ciudad</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.city" type="text" class="form-control" id="i-city" placeholder="Ciudad">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-pc" class="col-sm-2 control-label">Código postal</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.pc" type="text" class="form-control" id="i-pc" placeholder="Código postal">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-region" class="col-sm-2 control-label">Provincia</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.region" type="text" class="form-control" id="i-region" placeholder="Provincia">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-country" class="col-sm-2 control-label">País</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.country" type="text" class="form-control" id="i-country" placeholder="País">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.email1" type="text" class="form-control" id="i-email1" placeholder="email@principal.com">
                    </div>
                    
                    <div class="col-sm-4">
                        <input ng-model="formData.email2" type="text" class="form-control" id="i-email2" placeholder="email@secundario.com">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.phone1" type="text" class="form-control" id="i-phone1" placeholder="Teléfono principal">
                    </div>
                    
                    <div class="col-sm-4">
                        <input ng-model="formData.phone2" type="text" class="form-control" id="i-phone2" placeholder="Teléfono secundario">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-fax" class="col-sm-2 control-label">Fax</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.fax" type="text" class="form-control" id="i-fax" placeholder="Fax">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-contact" class="col-sm-2 control-label">Persona de contacto</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.contact" type="text" class="form-control" id="i-contact" placeholder="Persona de contacto">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>