
<div class="row">
	
	<div class="page-header">
		<h2>Clientes</h2>
	</div>
	
	<ol class="breadcrumb">
        <li class="active">Clientes</li>
    </ol>

	<button type="button" class="btn pull-right" ng-click="new()">Crear cliente</button>
	<br>
	<br>
	<div class="col-md-12">
		<table class="table" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
			<thead>
	  			<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Cif</th>
					<th>Dirección</th>
					<th>Acciones</th>
	  			</tr>
			</thead>
			<tbody>
	 			<tr ng-repeat="customer in customers">
					<td compile="customer.idExt"></td>
					<td compile="customer.name"></td>
					<td compile="customer.cif"></td>
					<td><span compile="customer.address"></span>, <span compile="customer.region"></span></td>
					<td>
						<select class="form-control" ng-model="option" ng-change="selectAction(option, customer.id_customer)" ng-options="option as option.name for option in options">
							<option value="">Seleccionar acción</option>
						</select>
					</td>
	  			</tr>
			</tbody>
		</table>

	</div>
</div>







