#ca_banner {
    position: fixed!important;
    z-index: 16777270;
    width: 100%!important;
    height: 80px;
    background: url('img/przez.png');
    text-align: center;
    border-width: 1px 0 1px 0!important;
    border-style: solid!important;
    border-color: #fff!important;
    display: none;
    box-shadow: 0 0 40px #444;
    padding: 10px 0;
    left: 0;
    right: 0;
	float:none!important;
	text-shadow:none;
	border-radius: 0!important;
	margin: 0 auto!important;
}
#ca_info {
    background: #fff;
    height: 304px;
    left: 50%;
    margin-left: -350px;
    margin-top: -182px;
    margin-bottom:20px;
    position: fixed;
    top: 50%;
    width: 700px;
    box-shadow:0 0 40px #444;
    z-index:16777271;
    padding:30px;
    box-sizing:border-box;
    display:none;
    border:1px solid #999999
	text-shadow:none;
}
#ca_info .ca_info_close {
    position: absolute;
    top: -15px;
    right: -15px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 25px;
    border-radius: 16px;
    background: #AA0000 url('img/close.png');
    text-align: center;
    line-height: 1.3em;
    font-size: 18px;
    cursor:pointer;
}
#ca_info_plus {
    box-sizing:border-box;
    overflow: auto;
    height: 254px;
    padding-right:10px;
	color:#000;
	text-align:left;
}
#ca_info_plus  p{
	color:#000;
	text-align:left;
	font-size:12px;
}

#ca_banner p,#ca_banner h2 {
    margin:4px 0;
    padding:0;
    line-height:1.2em;
	color:#000;
	float:none!important;
}
#ca_banner h2 {
    font-size:20px;
    font-weight:bold;
}
#ca_banner p {
    font-size:14px
}

#ca_banner p span {
    text-decoration:underline;
    color:#0089F2;
    cursor: pointer;
    font-weight: bold;
	float:none!important;
}
#ca_banner .accept {
    cursor:pointer;
    font-size:14px;
    margin:5px auto;
    width:120px;
    background: #0089f2;
    padding:3px;
    border-radius:3px;
    text-shadow:1px 1px 0 #0072ca;
    color:#fff;
    background-image: -webkit-linear-gradient(#0089F2 0%, #0072ca 100%);
    background-image: -moz-linear-gradient(#0089F2 0%, #0072ca 100%);
    background-image: -o-linear-gradient(#0089F2 0%, #0072ca 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0089F2), to(#0072ca));
    background-image: linear-gradient(#0089F2 0%, #0072ca 100%);
	float:none!important;
}
#ca_banner .accept:hover {
    box-shadow:0 0 15px #000;
}