/* -------------- ccInvoices Admin Style Sheet ---------------*/

.icon-48-ccinvoices {
	background: url(../images/ccinvoices_icon_large.png) no-repeat left top;
}
.icon-32-reset {
	background: url(../images/reset.png) no-repeat left top;
}
.batch_export
	{
		float: right;
		height: 22px;
		width: 175px;
		line-height: 22px;
		border: 0px solid red;
		padding-right: 5px;
		font-size: 9pt;
		text-align: right;
		background: 2px 3px no-repeat #f0f0f0 url(../images/batch_export.png) ;
	}
