#op_area1
{
	background-image:url('../images/loading.gif');
	width:15px;
	height:15px;
}
#emailCheck
{
	padding-left:20px;
	background: url('../images/loading.gif')top left no-repeat;
	border:solid 1px red;
}