body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-style:normal;font-weight:normal}
q:before,q:after{content:''}
body{font:13px arial,helvetica,clean,sans-serif;font-size:small;}
select,input,textarea{font:99% arial,helvetica,clean,sans-serif}
pre,code{font:115% monospace;font-size:100%}

body {
	color: #202020;
}

h2 {
	color: #000;
	font-size: 150%;
	padding: 10px 0;
}

h3 {
	color: #000;
	font-size: 120%;
	padding: 10px 0;
}

ul {
	list-style: disc inside;
	margin-left: 1em;
}

#content {
	padding: 10px;
}

label {
	float: left;
	width: 12em;
}

#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center; }
#banner a { color: white; }

.buttoncl{
	background-color:white;
	padding:50px;
	}
.buttoncl td{

	padding-left:3px;
	padding-right:3px;

	}

.itemadd
{
	background: url(../images/add.png) no-repeat left top;
	width:18px;
	height:18px;
	border:none;
}
.addIcon
{
	background: url(../images/add.png) no-repeat left top;
	width:16px;
	height:16px;
	border:none;
}
.itemdelete
{
	background: url(../images/delete.png) no-repeat left top;
	width:16px;
	height:16px;
	border:none;
}
.itemsaveas
{
	background: url(../images/download.png) no-repeat left top;
	width:16px;
	height:16px;
	border:none;
}