/* -------------- ccInvoices Admin Style Sheet ---------------*/

.icon-48-ccinvoices {
	background: url(../images/ccinvoices_icon_large.png) no-repeat left top;
}
.icon-32-reset {
	background: url(../images/reset.png) no-repeat left top;
}
.batch_export
	{
		float: right;
		height: 22px;
		width: 175px;
		line-height: 22px;
		border: 0px solid red;
		padding-right: 5px;
		font-size: 9pt;
		text-align: right;
		background: 2px 3px no-repeat #f0f0f0 url(../images/batch_export.png) ;
	}
.icon-32-save-new {
    background-image: url("../images/icon-32-save-new.png");
   }
   /* Tooltips */
#pop{
	position:absolute;
	visibility:hidden;
	border:solid 1px #D4D5AA;
	padding:5px;
	background:#FFFFCC;
	color:#000000;
	font-family:arial;
	font-size:11px;
	font-weight: bold;
	margin:30px 0px 0px 20px;
}

.ccinvoices_assinguserlist
{
	margin:0px;padding:0px;text-align:justify;
}
.ccinvoices_assignuserview
{
	font-weight:bold;text-align:center;color:#FF0000;
}
.ccinvoices_conf_currency1
{
	float:left;padding-right:10px;margin:0px;
}
.ccinvoices_invlist_stauts
{
	cursor:pointer;text-align:right;color:#94949D;
}
.ccinvoice_state_change
{
	visibility:hidden;width:0px;height:0px;
}
.ccinvioce_communication
{
	border:solid #CCCCCC 1px;text-align:center;font-size:18px;margin:10px;
}
.ccinvoices_imgaltertext
{
	color:#EC2423;display:none;border:2px solid;
}
.ccinvoices_edit_btn_left
{
	border-top:solid 1px #c0c0c0;border-bottom:solid 1px #c0c0c0;border-left:solid 1px #c0c0c0;
}
.ccinvoices_edit_btn_right
{
	border-top:solid 1px #c0c0c0;
	border-bottom:solid 1px #c0c0c0 !important;
	border-right:solid 1px #c0c0c0;
}
#ccinvoices_invoicecsv
{
}
.ccinvoices_drop_lbl
{
	padding-top:5px;
}
.ccinvoices_drop_self
{
	margin-bottom: 0px !important;
}
.ccinvoices_tmpl_header{
	color: #025A8D;
	font-size: 1.9em;
}