<div class="row">

    <div class="page-header">
        <h2>Facturas</h2>
    </div>
        
    <ol class="breadcrumb">
        <li><a href="#">Facturas</a></li>
        <li class="active" compile="title"></li>
    </ol>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{formData.idExt}}</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="submit()">
                
                <div class="form-group form-group-no-margin">
                    <div class="">
                        <button ng-click="showList()" type="button" class="btn pull-right">Cancelar</button>
                        <input type="submit" class="btn btn-default pull-right" value="Guardar">
                    </div>
                </div>

                <input type="hidden" ng-model="formData.id_invoice" id="i-id-invoice">
                <div class="form-group form-group-no-margin">
                    
                    <input type="hidden" ng-model="formData.id_customer" id="i-id-customer">
                    <br>
                    <button class="btn btn-default" ng-click="showListCustomers($event)">Seleccion cliente</button>
                    <br>
                    <br>
                    
                    <address ng-if="(formData.id_customer != '-1')">
                        <strong compile="formData.customer.name"></strong>
                        <br>
                        <strong compile="formData.customer.cif"></strong>
                        <br>
                        <span compile="formData.customer.address"></span>
                        <br>
                        (<span compile="formData.customer.pc"></span>),
                        <span compile="formData.customer.city"></span>
                        <br>
                        <span compile="formData.customer.region"></span>,
                        <span compile="formData.customer.country"></span>
                        <br>
                        <abbr title="Phone1">P:</abbr><span compile="formData.customer.phone1"></span>
                        <br>
                        <abbr title="Email1">@:</abbr><span compile="formData.customer.email1"></span>
                    </address>

                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-date-emision" class="col-sm-2 control-label">Fecha de emisión</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="date" class="form-control" id="i-date-emision" ng-model="formData.date_emision" value="{{formData.date_emision}}">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group form-group-no-margin">
                    <button ng-click="showListProducts($event)" class="btn btn-default">Añadir producto</button>
                    <table class="table table-condensed">
                        
                        <thead>
                            <th>#</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total (b/i)(€)</th>
                            <th>Total (i/i)(€)</th>
                        </thead>

                        <tbody>
                            <tr ng-repeat="detail in formData.details">
                                <td>{{detail.id_product}}</td>
                                <td>
                                    <div class="col-xs-12">
                                    <input type="text" class="p-description form-control" ng-model="detail.description" value="{{detail.description}}">
                                    </div>
                                </td>
                                <td>
                                    <div class="col-xs-12">
                                    <input type="number" class="p-price form-control" step="0.10" ng-model="detail.price" value="{{detail.price}}">
                                    </div>
                                </td>
                                <td>
                                    <div class="col-xs-12">
                                    <input type="number" class="p-stock form-control" step="1" ng-model="detail.num_products" value="{{detail.num_products}}">
                                    </div>
                                </td>
                                <td>
                                    <span ng-model="detail.total_nt">{{detail.total_nt}}</span>
                                </td>
                                <td>
                                    <span ng-model="detail.total_wt">{{detail.total_wt}}</span>
                                </td>
                                <td>
                                    <button ng-click="deleteDetail($index, $event)" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="form-group form-group-no-margin">
                    <label for="i-city" class="col-sm-2 control-label">Total b/i (€)</label>
                    <div class="col-sm-4">
                        <input readonly ng-model="formData.total_nt" type="number" class="form-control" id="i-city" placeholder="0.00">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-id-tax" class="col-sm-2 control-label">Impuestos</label>
                    <div class="col-sm-4">
                        <select  class="form-control" ng-change="selectTax(tax, tax.id)" ng-model="taxs.selected" ng-options="tax.description for tax in taxs.options track by tax.id_tax">
                        </select>
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-pc" class="col-sm-2 control-label">Total i/i (€)</label>
                    <div class="col-sm-4">
                        <input readonly ng-model="formData.total_wt" type="number" class="form-control" id="i-pc" placeholder="0.00">
                    </div>
                </div>
                
                <div class="form-group form-group-no-margin">
                    <label for="i-id-status" class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-4">
                        <select  class="form-control" ng-model="status.selected" ng-options="st.detail for st in status.options track by st.id_status_invoice">
                        </select>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<modal visible="showModal" type="type"></modal>