<div class="row">
	<div class="page-header">
		<h2>Facturas</h2>
	</div>
		
	<ol class="breadcrumb">
	  	<li class="active">Facturas</li>
	</ol>
	<button type="button" class="btn pull-right" ng-click="new()">Crear Factura</button>
	<br>
	<br>
	<div class="col-md-12">
		<table class="table" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
			<thead>
	  			<tr>
					<th>#</th>
					<th>Fecha Emisión</th>
					<th>Cliente</th>
					<th>Cif</th>
					<th>Estado</th>
					<th>Fact i/i</th>
					<th>Acciones</th>
	  			</tr>
			</thead>
			<tbody>
	 			<tr ng-repeat="invoice in invoices">

					<td compile="invoice.idExt"></td>
					<td compile="invoice.date_emision"></td>
					<td compile="invoice.name"></td>
					<td compile="invoice.cif"></td>
					<td >
						<span ng-if="invoice.id_status_invoice != '3'" compile="invoice.status">
						</span>
						<span ng-if="invoice.id_status_invoice == '3'">
							<span compile="invoice.status"></span><br><span>{{invoice.date_payment}}</span>
						</span>
					</td>
					<td compile="invoice.total_wt"></td>
					<td>
						<select class="form-control" ng-model="option" ng-change="selectAction(option, invoice.id_invoice, invoice.idExt)" ng-options="option as option.name for option in options">
							<option value="">Seleccionar acción</option>
						</select>
					</td>
	  			</tr>
			</tbody>
		</table>
	</div>
</div>
