tr, td {
    border: 0 solid #DDDDDD !important;
}
#headStyle
{
	color:#66A3D3;
	line-height:2em;
	padding-left:5px;
	color:#424141;
	border-right:2px solid #ffffff;
	background-color:#D1D1D1;

}
#headStyle a
{
	font-weight:bold;
	color:#424141;
	text-decoration:none !important;
}

#headStyle a:hover
{
	color:#424141 !important;
	background-color:#D1D1D1 !important;
}
#tableMain
{
	border-collapse:collapse;
	border-right:0px solid #E5EFF8;
	border-top:0px solid #E5EFF8;
	margin:1em auto;
	width:95%;
}
#tdRecStyle {

	padding:.3em 1em;
	text-align:center;
	line-height:2em;
	}
#tdRecStyle1 {

	}
#tdRecStyle1 a
{
	text-decoration: none;
	background-color: white;
}
#tdRecStyle1 a:hover
{
	text-decoration: none;
	background-color: white;
}

.tdIdClass a:hover
{
	text-decoration: none !important;
	background-color: #F4F9FE !important;

}
.tdIdClass
{
	border:solid 1px #e5eff8 !important;
	background-color:#f4f9fe !important;
}

.ccinvoices_messageCl
{
	width:80% !important;
	border: 1px solid rgb(0, 0, 0) !important;
	background-color:#FFEEED !important;
	border-color:#FFB5B3 !important;
}

.ccinvoices_messageBlue
{
	width:80%;
	border: 1px solid rgb(0, 0, 0) !important;
	background-color:#f0ffe9 !important;
	border-color:#b4ffa3 !important;
}
.ccinvoices_statusbox1
{
	border:solid 1px #818283 !important;
	background-color:#E3E4E4;
	color:#818283;
	text-transform:uppercase;
}
.ccinvoices_statusbox2
{
	border:solid 1px #1BC721 !important;
	background-color:#F3FFEE;
	color:#006C09;
	text-transform:uppercase;
}
.ccinvoices_statusbox3
{
	border:solid 1px #FF7570 !important;
	background-color:#FFF6F6;
	color:#E62C2F;
	text-transform:uppercase;
}
.ccinvoices_statusbox4
{
	border:solid 1px #7DAEE3 !important;
	background-color:#DCEBFC;
	color:#006DCF;
	text-transform:uppercase;
}

.ccinvoices_paymentmethods
{
	height:60px;
	width:100%;
	border:0px;
}
.ccinvoices_paymentmethods td
{
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}

.ccinvoices_cancelImgcl
{
	width:16px;
	padding-left:5px !important;
}
.ccinvoices_cancelMsg
{
	padding:10px !important;
}
.ccinvoices_successImgcl
{
	width:16px;
	padding-left:5px !important;
}
.ccinvoices_successMsg
{
	padding:10px !important;
}
.ccinvoices_authForm td
{
	padding:0px !important;
}
.ccinvoices_payment_list input, textarea, select {
    width: 138px !important;
}
.ccinvoices_payment_list #ccardradio,#echeckradio
{
	width: 20px !important;
}
#exp_date_chzn
{
	width: 100px !important;
}
#exp_year_chzn
{
	width: 70px !important;
}

#recTR2 input
{
    width: 20px !important;
}