<div class="row">

    <div class="page-header">
        <h2>Productos</h2>
    </div>
        
    <ol class="breadcrumb">
        <li><a href="#">Productos</a></li>
        <li class="active" compile="title"></li>
    </ol>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{formData.idExt}}</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="submit()">
                
                <div class="form-group form-group-no-margin">
                    <div class="">
                        <button ng-click="showList()" type="button" class="btn pull-right">Cancelar</button>
                        <input type="submit" class="btn btn-default pull-right" value="Guardar">
                    </div>
                </div>
                
                <input type="hidden" ng-model="formData.id_product" id="i-id-product">
                
                <div class="form-group form-group-no-margin">
                    <label for="i-description" class="col-sm-2 control-label">Descripción de producto</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.description" type="text" class="form-control" id="i-description" placeholder="Nombre del producto">
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-stock" class="col-sm-2 control-label">Stock</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.stock" type="number" step="1" class="form-control" id="i-cif" placeholder="0" value="{{formData.stock}}" >
                    </div>
                </div>

                <div class="form-group form-group-no-margin">
                    <label for="i-price" class="col-sm-2 control-label">Precio producto B/I</label>
                    <div class="col-sm-4">
                        <input ng-model="formData.price" type="number" step="0.10" class="form-control" id="i-price" placeholder="0" value="{{formData.price}}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>