<div class="row">
	<div class="page-header">
		<h2>Productos</h2>
	</div>
		
	<ol class="breadcrumb">
	  	<li class="active">Productos</li>
	</ol>
	<button type="button" class="btn pull-right" ng-click="new()">Crear producto</button>
	
	<br>
	<br>
	<div class="col-md-12">
		<table class="table" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
			<thead>
	  			<tr>
					<th>#</th>
					<th>Nombre Producto</th>
					<th>Precio B/I</th>
					<th>Stock</th>
					<th>Acciones</th>
	  			</tr>
			</thead>
			<tbody>
	 			<tr ng-repeat="product in products">
					<td compile="product.idExt"></td>
					<td compile="product.description"></td>
					<td compile="product.price"></td>
					<td compile="product.stock"></td>
					<td>
						<select class="form-control" ng-model="option" ng-change="selectAction(option, product.id_product)" ng-options="option as option.name for option in options">
							<option value="">Seleccionar acción</option>
						</select>
					</td>
	  			</tr>
			</tbody>
		</table>
	</div>
	
	<modal visible="showModal"></modal>
</div>
