<span style='color: #000' title='Frames'>   122</span><span style='color: #009' title='Memory'>  20736.00 KB</span><span style='color: #900' title='Time'>   1061.38 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br /><br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: file_put_contents(C:\wamp\www\j35\components\com_invoice\library\dompdf/lib/fonts/dompdf/lib/fonts/DejaVuSans.ufm.php): failed to open stream: No such file or directory in C:\wamp\www\j35\components\com_invoice\library\dompdf\lib\Cpdf.php on line <i>2384</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0004</td><td bgcolor='#eeeeec' align='right'>257064</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp\www\j35\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0529</td><td bgcolor='#eeeeec' align='right'>3856120</td><td bgcolor='#eeeeec'>JApplicationCms->execute(  )</td><td title='C:\wamp\www\j35\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>49</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.0529</td><td bgcolor='#eeeeec' align='right'>3856320</td><td bgcolor='#eeeeec'>JApplicationSite->doExecute(  )</td><td title='C:\wamp\www\j35\libraries\cms\application\cms.php' bgcolor='#eeeeec'>..\cms.php<b>:</b>257</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.0899</td><td bgcolor='#eeeeec' align='right'>6386640</td><td bgcolor='#eeeeec'>JApplicationSite->dispatch(  )</td><td title='C:\wamp\www\j35\libraries\cms\application\site.php' bgcolor='#eeeeec'>..\site.php<b>:</b>230</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.0954</td><td bgcolor='#eeeeec' align='right'>6621184</td><td bgcolor='#eeeeec'>JComponentHelper::renderComponent(  )</td><td title='C:\wamp\www\j35\libraries\cms\application\site.php' bgcolor='#eeeeec'>..\site.php<b>:</b>191</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>0.0974</td><td bgcolor='#eeeeec' align='right'>6634888</td><td bgcolor='#eeeeec'>JComponentHelper::executeComponent(  )</td><td title='C:\wamp\www\j35\libraries\cms\component\helper.php' bgcolor='#eeeeec'>..\helper.php<b>:</b>380</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>0.0978</td><td bgcolor='#eeeeec' align='right'>6661096</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\wamp\www\j35\components\com_invoice\invoice.php'</font> )</td><td title='C:\wamp\www\j35\libraries\cms\component\helper.php' bgcolor='#eeeeec'>..\helper.php<b>:</b>405</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>0.1211</td><td bgcolor='#eeeeec' align='right'>8774224</td><td bgcolor='#eeeeec'>JControllerLegacy->execute(  )</td><td title='C:\wamp\www\j35\components\com_invoice\invoice.php' bgcolor='#eeeeec'>..\invoice.php<b>:</b>45</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>0.1211</td><td bgcolor='#eeeeec' align='right'>8775296</td><td bgcolor='#eeeeec'>invoiceControllerInvoice->saveInvoice(  )</td><td title='C:\wamp\www\j35\libraries\legacy\controller\legacy.php' bgcolor='#eeeeec'>..\legacy.php<b>:</b>728</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>0.1266</td><td bgcolor='#eeeeec' align='right'>8809624</td><td bgcolor='#eeeeec'>invoiceControllerInvoice->generateInvoicePdf(  )</td><td title='C:\wamp\www\j35\components\com_invoice\controllers\controllerInvoice.php' bgcolor='#eeeeec'>..\controllerInvoice.php<b>:</b>132</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>0.2857</td><td bgcolor='#eeeeec' align='right'>11284464</td><td bgcolor='#eeeeec'>Dompdf\Dompdf->render(  )</td><td title='C:\wamp\www\j35\components\com_invoice\controllers\controllerInvoice.php' bgcolor='#eeeeec'>..\controllerInvoice.php<b>:</b>175</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>12</td><td bgcolor='#eeeeec' align='center'>0.4493</td><td bgcolor='#eeeeec' align='right'>15937824</td><td bgcolor='#eeeeec'>Dompdf\FrameDecorator\AbstractFrameDecorator->reflow(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\Dompdf.php' bgcolor='#eeeeec'>..\Dompdf.php<b>:</b>834</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>13</td><td bgcolor='#eeeeec' align='center'>0.4493</td><td bgcolor='#eeeeec' align='right'>15938512</td><td bgcolor='#eeeeec'>Dompdf\FrameReflower\Page->reflow(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameDecorator\AbstractFrameDecorator.php' bgcolor='#eeeeec'>..\AbstractFrameDecorator.php<b>:</b>801</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>14</td><td bgcolor='#eeeeec' align='center'>0.4520</td><td bgcolor='#eeeeec' align='right'>15957952</td><td bgcolor='#eeeeec'>Dompdf\FrameDecorator\AbstractFrameDecorator->reflow(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameReflower\Page.php' bgcolor='#eeeeec'>..\Page.php<b>:</b>133</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>15</td><td bgcolor='#eeeeec' align='center'>0.4520</td><td bgcolor='#eeeeec' align='right'>15959488</td><td bgcolor='#eeeeec'>Dompdf\FrameReflower\Block->reflow(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameDecorator\AbstractFrameDecorator.php' bgcolor='#eeeeec'>..\AbstractFrameDecorator.php<b>:</b>801</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>16</td><td bgcolor='#eeeeec' align='center'>0.4531</td><td bgcolor='#eeeeec' align='right'>15979432</td><td bgcolor='#eeeeec'>Dompdf\FrameDecorator\AbstractFrameDecorator->reflow(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameReflower\Block.php' bgcolor='#eeeeec'>..\Block.php<b>:</b>738</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>17</td><td bgcolor='#eeeeec' align='center'>0.4531</td><td bgcolor='#eeeeec' align='right'>15979608</td><td bgcolor='#eeeeec'>Dompdf\FrameReflower\Text->reflow(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameDecorator\AbstractFrameDecorator.php' bgcolor='#eeeeec'>..\AbstractFrameDecorator.php<b>:</b>801</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>18</td><td bgcolor='#eeeeec' align='center'>0.4532</td><td bgcolor='#eeeeec' align='right'>15982096</td><td bgcolor='#eeeeec'>Dompdf\FrameReflower\Text->_layout_line(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameReflower\Text.php' bgcolor='#eeeeec'>..\Text.php<b>:</b>362</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>19</td><td bgcolor='#eeeeec' align='center'>0.4533</td><td bgcolor='#eeeeec' align='right'>15984728</td><td bgcolor='#eeeeec'>Dompdf\FontMetrics->getFontHeight(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FrameReflower\Text.php' bgcolor='#eeeeec'>..\Text.php<b>:</b>188</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>20</td><td bgcolor='#eeeeec' align='center'>0.4534</td><td bgcolor='#eeeeec' align='right'>15984872</td><td bgcolor='#eeeeec'>Dompdf\Adapter\CPDF->get_font_height(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\FontMetrics.php' bgcolor='#eeeeec'>..\FontMetrics.php<b>:</b>352</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>21</td><td bgcolor='#eeeeec' align='center'>0.4534</td><td bgcolor='#eeeeec' align='right'>15986152</td><td bgcolor='#eeeeec'>Cpdf->selectFont(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\src\Adapter\CPDF.php' bgcolor='#eeeeec'>..\CPDF.php<b>:</b>806</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>22</td><td bgcolor='#eeeeec' align='center'>0.4534</td><td bgcolor='#eeeeec' align='right'>15987320</td><td bgcolor='#eeeeec'>Cpdf->openFont(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\lib\Cpdf.php' bgcolor='#eeeeec'>..\Cpdf.php<b>:</b>2415</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>23</td><td bgcolor='#eeeeec' align='center'>0.8283</td><td bgcolor='#eeeeec' align='right'>18271040</td><td bgcolor='#eeeeec'><a href='http://www.php.net/function.file-put-contents' target='_new'>file_put_contents</a>
(  )</td><td title='C:\wamp\www\j35\components\com_invoice\library\dompdf\lib\Cpdf.php' bgcolor='#eeeeec'>..\Cpdf.php<b>:</b>2384</td></tr>
</table></font>
