<span style='color: #000' title='Frames'>   218</span><span style='color: #009' title='Memory'>  18176.00 KB</span><span style='color: #900' title='Time'>   2372.14 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />