<button class="btn btn-default" ng-click="selectCustomer()">Seleccionar</button>

<table class="table table-condensed"  datatable="ng" dt-options="modalcustomer.dtOptions" dt-column-defs="modalcustomer.dtColumnDefs">
	<thead>
		<th>#</th>
		<th>Nombre</th>
		<th>Cif</th>
		<th>Dirección</th>
	</thead>
	<tbody>
		<tr ng-repeat="customer in customers" ng-class="{'active': customer.id_customer == selected}" ng-click="selectRow(customer.id_customer)">
			<td>{{customer.idExt}}</td>
			<td>{{customer.name}}</td>
			<td>{{customer.cif}}</td>
			<td>{{customer.addres}}, {{customer.city}}, {{customer.region}}</td>
		</tr>
	</tbody>
</table>