<button class="btn btn-default" ng-click="selectProduct()">Seleccionar</button>
<table class="table table-condenseds"  datatable="ng" dt-options="modalproduct.dtOptions" dt-column-defs="modalproduct.dtColumnDefs">
	<thead>
		<th>#</th>
		<th>Descripción</th>
		<th>Stock</th>
		<th>Precio (b/i)</th>
	</thead>
	<tbody>
		<tr ng-repeat="product in products" ng-class="{'active': product.id_product == selected}" ng-click="selectRow(product.id_product)">
			<td>{{product.id_product}}</td>
			<td>{{product.description}}</td>
			<td>{{product.stock}}</td>
			<td>{{product.price}}</td>
		</tr>
	</tbody>
</table>