<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container">
		
		<div class="navbar-header">
	  		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
	  		<a class="navbar-brand" href="#">Componente de Facturación</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
	  		<ul class="nav navbar-nav">
				<li class="dropdown">
		  			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facturas <span class="caret"></span></a>
		  			<ul class="dropdown-menu">
						<li ng-click="redirect('newInvoice')"> <a>Nueva factura</a></li>
						<li ng-click="redirect('listInvoice')"><a>Listado facturas</a></li>
		  			</ul>
				</li>
				<li class="dropdown">
		  			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
		  			<ul class="dropdown-menu">
						<li ng-click="redirect('newCustomer')" > <a>Nuevo cliente</a></li>
						<li ng-click="redirect('listCustomer')" ><a>Listado clientes</a></li>
		  			</ul>
				</li>
				<li class="dropdown">
		  			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
		  			<ul class="dropdown-menu">
						<li ng-click="redirect('newProduct')" ><a>Nuevo producto</a></li>
						<li ng-click="redirect('listProduct')"><a>Listado producto</a></li>
		  			</ul>
				</li>
				
	  		</ul>
		</div>
	<!--/.nav-collapse -->
  </div>
</nav>
<!-- #Fixed navbar -->
